body.platform-browser .message {
  max-width: 300px;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px;
}
body.platform-browser .message.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
}
body.platform-browser .message.from-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
body.platform-browser .message.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}
body.platform-browser .message.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
}
body.platform-browser .message.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
body.platform-browser .message.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.pull-right span, .pull-left span {
  display: block;
}
.pull-right span { text-align: right; }
.pull-left span { text-align: left; }

.input {
  display: block;
  width: 100%;
}
.input:before,
.input:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.input:after {
    clear: both;
}

.input label {
  float: left;
  width: 79%;
  height: 35px;
  margin: 0;
}
.input button {
  float: left;
  width: 19%;
  margin-left: 2% !important;
  height: 35px;
}

.grid-item {
  width: 100%;
  margin: 10px 0 0 0;
}
